/* reset + font */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
    font-size: 16px;
    list-style-type: none;  
    text-decoration: none; 
}

a[href^="mailto:"] {
    color: aqua;
}

/* presettino x clearfix */
.clearfix {
    content: "";
    clear: both;
    display: table;
}

/* marginbottomgrande */
.mb-30 {
    margin-bottom: 30px;
}

/* maincontainer */
.maincontainer {
width: 80%;
margin: 0 auto;
padding: 30px;
}
 /* text align */
.txt-centre{
    text-align: center;
}

/* font size title */
.title {
font-family: 'Fredoka One', cursive;
}

/* fontgrande */
.bigfont {
    font-size: 60px;
}

.layout {
    width: 100%;
}
/* dimensione bocphoto */
.card {
    width:calc(100%/3 - 20px);
    background-color: black;
    box-shadow: -1px -1px 5px 1px rgba(82, 79, 79, 0.884);
}

/* float left */
.fl-left {
    float: left;
}
/* dimensione foto */
.photo-inbox {
    height: 100%;
}

/* padding 15px */
.padding {
    padding: 15px;
}

/* testo bianco */
.white{
    color: white;
}

/* margin bottom piccolo*/
.mb-5{ 
    margin-bottom: 5px;
}

/* marginright */
.mr-30 {
    margin-right: 30px;
}

.h-100 {
    height: 100px;
}